.volumeSlider {width: 20%; margin-right: 5px}

.playing {background-color: #E8E8E8}

.error {background-color: red}

.progress {margin-top: 10px}

.mpc-about {width: 75%}
.mpc-about .icon {margin-right: 20px}
.mpc-about .title {font-size: larger; font-weight: bold}
.mpc-about .copyright {margin: 15px}
.mpc-about .info {margin: 15px}
.mpc-about .licenseInfo {font-size: smaller; margin: 15px; text-align: justify}

.mpc-prefs .saveButton {width: 300px}
.mpc-prefs .box-center {width: 500px; margin: 23px auto 0}

.mpc-status-header {min-height: 76px}

.mpc-status-header .status {min-height: 38px}

.mpc-search .input {
    width: 200px;
}

.mpc-search .input .close {
        background:url(../images/btn_search_close.png) no-repeat 50% 50%;
        height:24px;
        width:24px;
        margin-right:-5px;
}

.mpc-sleep-settings .note {
    font-size: smaller;
    padding-right: 10px;
}
