.volumeSlider {width: 20%; margin-right: 5px}

.playing {background-color: #E8E8E8}

.error {background-color: red}

.progress {margin-top: 10px}

.aboutPopup {width: 50%}
.aboutPopup .icon {margin-right: 20px}
.aboutPopup .title {font-size: larger; font-weight: bold}
.aboutPopup .copyright {margin: 15px}
.aboutPopup .info {margin: 15px}
.aboutPopup .licenseInfo {font-size: smaller; margin: 15px; text-align: justify}

